.map__image{
    width: 50%;
    height: 50%;
    float: left;
}

.map__image path{
    fill: #a4ced2;
    stroke: red;
    stroke-width: 2px;
    transform: fill 0.3s;
}
.map__image path:hover{
    fill: yellow;
    cursor: pointer;
}

.map__list{
    float: right;
    width: 50%;
}

.map__list a{
 color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}